<h1>FAQ Page</h1>
<ul>
	<li>
        <b>What's this website about?</b>
        It's for Photo management and sharing!
    </li>
    <li>
        <b>How to use this application?</b>
        Sign up, log in, upload and share your photo!
    </li>
</ul>
